<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="pilot_test.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="pilot_test.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <pilot_test.Settings>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MotorMin" serializeAs="String">
                <value>-100</value>
            </setting>
            <setting name="MotorPower" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MotorKp" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="MotorKi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MotorKd" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="Split1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="TurnH" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="TurnPwr" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HdgKp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HdgKi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HdgKd" serializeAs="String">
                <value>0</value>
            </setting>
        </pilot_test.Settings>
        <pilot_test.Settings1>
            <setting name="Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
        </pilot_test.Settings1>
    </userSettings>
</configuration>
