<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="M2Mqtt" version="4.1.0" targetFramework="net46" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" userInstalled="true" />
  <package id="OxyPlot.Core" version="2015.1.902-alpha" targetFramework="net46" userInstalled="true" />
  <package id="OxyPlot.Wpf" version="2015.1.902-alpha" targetFramework="net46" userInstalled="true" />
</packages>