<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="M2Mqtt" version="4.2.0.1" targetFramework="net46" userInstalled="true" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net46" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net46" userInstalled="true" />
  <package id="OxyPlot.Core" version="2015.1.1046-alpha" targetFramework="net46" userInstalled="true" />
  <package id="OxyPlot.Wpf" version="2015.1.1046-alpha" targetFramework="net46" userInstalled="true" />
</packages>